// Basic css reset
html {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
li, button, input {
    border: none;
}
// Variables
// Primary Colors
$orange: hsl(25, 97%, 53%);

// Neutral Colors
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$dark-blue-prime: hsl(213, 19%, 18%);
$dark-blue: hsl(212, 21%, 13%);
$very-dark-blue: hsl(216, 12%, 8%);

// paragraph typography
$font-size: 15px;

// Base font family
$font-family: "Overpass", sans-serif;

// Main Styling

// Base Styling
body {
    height: 100vh;
    font-family: $font-family;
    background-color: $very-dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.interactive-wrapper {
    font-size: $font-size;
    max-width: 21.875rem;
}

// Rating container styling
.rating-container {
    background-color: $dark-blue;
    opacity: 1;
    padding: 1.5rem;
    border-radius: 0.75rem;
}
.rating__icon img {
    background-color: $dark-blue-prime;
    padding: 0.625rem;
    border-radius: 50%;
}
.rating__header h1 {
    color: $white;
    font-size: 1.6rem;
}
.rating__description p {
    color: $light-grey;
    font-weight: 400;
    line-height: 1.5;
    font-size: $font-size;
}
.rating__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
    button {
        font-weight: 700;
        background-color: $dark-blue-prime;
        width: 2.5rem;
        height: 2.5rem;
        color: $light-grey;
        border-radius: 50%;
    }
    button:hover {
        color: #000;
        background-color: $orange;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
.btn {
    width: 100%;
    max-width: 100%;
    padding: 0.625rem 0.9375rem;
    border-radius: 100px;
    background-color: $orange;
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background-color: $white;
    transition: background-color 0.2s ease;
}

// Thank you rating card styling
.thanks-container {
    display: none;
    margin-top: 20px;
    text-align: center;
    background-color: $dark-blue;
    opacity: 1;
    border-radius: 0.75rem;
    padding: 2rem 1.5rem;
}
.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .highlight__parg {
        background-color: $dark-blue-prime;
        color: $orange;
        font-weight: 400;
        text-align: center;
        width: 60%;
        padding: 5px;
        border-radius: 100px;
    }
.thanks h2 {
    color: $white;
    font-weight: 700;
    font-size: 1.6rem;
}
.thanks-note {
    color: $light-grey;
    font-weight: 400;
}
.value-rating.active {
    background-color: white;
    color: black;
}



// Footer Styling
footer {
    color: $white;
    word-spacing: 1px;
    margin: {
        block-start: 1.875rem;
    }
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: $light-grey;
}
