@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  /** Colors **/

  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  /** Red **/

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /**Gradient **/

  --light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);

  /** Typography **/
  --font-size-paragraph: 16px;

  --font-family: "Noto Sans", sans-serif;
  --font-weights-400: 400;
  --font-weights-500: 500;
  --font-weights-700: 700;

}

.light {
  background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}
  

body {
  width: 100vw;
  background-image: linear-gradient(180deg, #040918 0%, #091540 100%) ;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

main {
  max-width: 70%;
  max-height: 100%;
  margin: 0 auto;
}

/** Header Section**/
header {
  background-color: #1F2535;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 2.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
.theme {
  background-color: #2F354B;
  padding: 0.8rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.theme:hover {
  outline: 1px solid var(--red-400);
}

.theme img {
  cursor: pointer;
}

/** **/
section.list-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.list-selection h1 {
  margin: 0;
  padding: 0;
  font-weight: var(--font-weights-700);
  font-size: 2rem;
  color: var(--neutral-0);
}

.btn-selection button{
  margin-left: 0.7rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: var(--font-weights-500);
  font-size: 1.1rem;
  text-align: center;
  background-color: #1F2535;
  color: var(--neutral-0);
  padding: 0.5rem 1.6rem;
  border: 2px solid var(--neutral-700);
  border-radius: 1.8rem;
  cursor: pointer;
}

/** Card Section **/
.card-section {
  margin-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  color: var(--neutral-100);
}

.card {
  background: #1F2535;
  border: 1px solid var(--neutral-700);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
}

.card .card-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.card .card-info h2 {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: var(--font-weights-500);
  color: var(--neutral-0);
}

.card .card-info p {
  margin: 0;
  font-weight: var(--font-weights-400);
  font-size: 1rem;
  color: var(--neutral-300);
}

.card .card-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-interaction button {
  font-family: "Noto Sans", sans-serif;
  font-weight: var(--font-weights-400);
  font-size: 1rem;
  text-align: center;
  background-color: #1F2436;
  color: var(--neutral-0);
  padding: 0.5rem 1.6rem;
  border: 2px solid var(--neutral-700);
  border-radius: 1.8rem;
  cursor: pointer;
}

.btn-selection button:hover {
  outline: 1px solid var(--red-400);
}

.btn-selection .active-btn {
  outline: 1px solid var(--red-400);
  background-color: var(--red-500);
  color: var(--neutral-900);
}

.card-interaction .remove-btn:hover {
  outline: 1px solid var(--red-400);
}
.card-interaction .remove-btn:focus {
  outline: 1px solid var(--red-400);
  background-color: var(--red-500);
  color: var(--neutral-900);
}

/** Slider**/
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--red-400);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--red-500);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


