* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    --pale-primary-blue:  hsl(225, 100%, 94%);
    --bright-primary-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --fs: 16px;

    --fw-neutral: 500;
    --fw-semi-bold: 700;
    --fw-bold: 900;
    --ft-family: "Red Hat Display", sans-serif;
    --fs-normal: normal;
}
body {
  background-color: url();
}
.attribution { 
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -99%);
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.order__container {
    font-family: var(--ft-family);
    font-optical-sizing: auto;
    font-style: var(--fs-normal);
    width: 360px;
    background-color: var(--pale-blue);
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.order__container > *:not(.illustration) {
    margin-top: 15px;
}
.description {
    color: var(--desaturated-blue);
    font-weight: var(--fw-neutral);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
}
.order__container h2 {
    color: var(--dark-blue);
    font-weight: var(--fw-bold);
}
.illustration {
    margin-bottom: 15px;
    width: 100%;
}
.plan__container {
    background-color: var(--very-pale-blue);
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1.2rem;
    display: flex;
}
.plan__container p a {
    color: var(--bright-primary-blue);
    font-weight: var(--fw-semi-bold);
    text-align: center;
    font-size: 14px;
    margin-left: 60px;
}
.plan__container p a:hover {
    opacity: 0.8;
}
#music_icon {
    width: 50px;
    height: 50px;
}
.annual__plan {
    margin-left: 20px;

}
.annual__plan h5 {
    color: var(--dark-blue);
    font-weight: var(--fw-bold);
}
.annual__plan p {
    color: var(--desaturated-blue);
    font-weight: var(--fw-neutral);
}
.change__link {
    display: grid;
    place-content: center;
}
button {
    font-size: 14px;
    background-color: var(--bright-primary-blue);
    font-family: var(--ft-family);
    font-weight: var(--fw-bold);
    color: var(--pale-primary-blue);
    padding: 0.9rem;
    width: 320px;
    border-radius: 10px;
}
.first__button {
    box-shadow: 0 20px 13px var(--pale-primary-blue);
}
.first__button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.last__button {
    margin-bottom: 15px;
    color: var(--desaturated-blue);
    background-color: transparent;
    margin-bottom: 10px;
}
.last__button:hover {
    color: var(--dark-blue);
    font-weight: var(--fw-bold);
    cursor: pointer;
}