* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root {
    --pale-primary-blue:  hsl(225, 100%, 94%);
    --bright-primary-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --fs: 16px;

    --fw-neutral: 500;
    --fw-semi-bold: 700;
    --fw-bold: 900;
    --ft-family: "Red Hat Display", sans-serif;
    --fs-normal: normal;
}
body {
  background-color: url();
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.order__container {
    font-family: var(--ft-family);
    font-optical-sizing: auto;
    font-style: var(--fs-normal);
    width: 360px;
    background-color: #FFFFFF;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.order__container > *:not(.illustration) {
    margin-top: 15px;
}
.description {
    color: var(--desaturated-blue);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
}
.order__container h2 {
    color: var(--dark-blue);
}
.order__container p a {
    border: 1px solid black;
    color: var(--bright-primary-blue);
    font-weight: 700;
}
.illustration {
    width: 100%;
}
.plan__container {
    background-color: #F8F9FE;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1.2rem;
    display: flex;
}
.plan__container p a {
    text-align: center;
    margin-left: 60px;
}
#music_icon {
    width: 50px;
    height: 50px;
}
.annual__plan {
    margin-left: 20px;

}
.annual__plan h5 {
    color: var(--dark-blue);
    font-weight: var(--fw-semi-bold);
}
.annual__plan p {
    color: var(--desaturated-blue);
    font-weight: var(--fw-semi-bold);
}
button {
    padding: 0.7rem;
    width: 220px;
}
.last__button {
    margin-bottom: 15px;
    margin-top: 0px;
    /* background-color: transparent; */
}
.attribution {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
}