* {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.hero {
    background-color: #23424a;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 21px;
}
.hero__text h1 {
    font-size: 35px;
    font-weight: 800;
}
.hero p {
    line-height: 1.5rem;
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.container {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #38cfd9;
    padding: 8px 30px;
    border-radius: 16px;
    font-weight: 700;
    color: #23424a;
    margin-block-start: 30px;
}
@media only screen and (min-width: 600px){
    .container {
        width: 80%;
        max-width: 1400px;
        padding-block: 100px;
        padding-inline-start: 100px;

    }
    .hero__text {
        width: 60%;
    }
    .hero__text h1 {
        font-size: 3rem;
    }
}
