*, ::before, ::after
    margin: 0
    padding: 0
    border: 0
    outline: none
    box-sizing: border-box


$primary-red: hsl(0, 78%, 62%)
$primary-cyan: hsl(180, 62%, 55%)
$primary-orange: hsl(34, 97%, 64%)
$primary-blue: hsl(212, 86%, 64%)
$neutral-very-dark-blue: hsl(234, 12%, 34%)
$neutral-grayish-blue: hsl(229, 6%, 66%)
$neutral-very-light-gray: hsl(0, 0%, 98%)

body 
    font-family: "Poppins", sans-serif
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: $neutral-very-light-gray
.wrapper
    max-width: 19.375rem
    padding: 1.5rem
    background-color: $neutral-very-light-gray
h1
    font-size: 1.3125rem
    font-weight: 200
    color: $neutral-very-dark-blue
h2
    font-size: 1.3125rem
    font-weight: 600
    color: $neutral-very-dark-blue
.description
    font-size: 0.8125rem
    color: $neutral-grayish-blue
    margin-block-start: 0.625rem
    text-align: center
.cards 
    background-color: #FFFFFF
    margin-block-start: 1.25rem
    margin-block-end: 1.25rem
    padding: 1.25rem
    display: flex
    flex-direction: column
    box-shadow: 2px 6px 10px 1px rgba(0, 0, 0, .2)
    border-radius: 4px
#supervisor
    border-top: 3px solid $primary-cyan
#teamBuilder
    border-top: 3px solid $primary-red
#karma
    border-top: 3px solid $primary-orange
#calculator
    border-top: 3px solid $primary-blue
img
    max-width: 2.5rem
.image-container
    max-width: 3.125rem
    margin-block-start: 1.25rem
    flex: 0 0 auto
    align-self: flex-end
.card-heading
    font-weight: 600
    color: $neutral-very-dark-blue
.card-content
    font-size: 0.8125rem
    color: $neutral-grayish-blue
.attribution 
    font-size: 0.6875rem
    text-align: center
.attribution a 
    color: hsl(228, 45%, 44%)
@media screen and (min-width: 59.5625rem)
    .wrapper
        max-width: 90rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .cards 
        max-width: 18.75rem
        width: 100%
        height: 11.25rem
    .cards-container
        display: flex
        gap: 30px
        margin-block-start: 2.5rem
    .card-header
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 80%
    h1
        font-size: 2.25rem
        text-align: center
    h2
        font-size: 2.25rem
        text-align: center
    .description
        width: 70%
        font-size: 0.9375rem
    
    .image-container
        margin-block-start: 1.875rem
    #supervisor, #calculator
        align-self: center
    #supervisor
        border-top: 4px solid $primary-cyan
    #teamBuilder
        border-top: 4px solid $primary-red
    #karma
        border-top: 4px solid $primary-orange
    #calculator
        border-top: 4px solid $primary-blue