// Basic CSS Reset
*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: none;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

// Variables 
$background-color: #fafafa;
$header-font: "Inter", sans-serif;
$button-bg-color: #04aa6d;

// Base styling
body {
    height: 100vh;
    width: 100vw;
    background-color: $background-color;
    background-image: url(https://cdn.prod.website-files.com/6736061f0b04aa7ffecaa9dd/6736061f0b04aa7ffecaaa4f_analytics-graphic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}
.wrapper-container {
    margin: 0 auto;
    width: 80%;
}
// Navigation Styling
.header-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-family: $header-font;
}
.d-flex {
    display: flex;
}
.nav-links {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color: rgb(18, 18, 32);
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 5px;
}
.nav-links a:hover {
    border-bottom: 2px solid rgb(19, 19, 31);
}
.nav-links a:focus {
    border-bottom: 2px solid #000;
}
.nav-links a:active {
    border-bottom: 2px solid #000;
    color: purple;
}
.nav-links a:visited {
    border-bottom: 2px solid #000;
}
.logo-container {
    align-items: center;
    cursor: pointer;
    h1 {
        font-size: 1.8rem;
    }
}   
.logo {
    width: 60px;
    height: 60px;
    max-width: 100%;
}
.nav-links {
    gap: 40px;
}
#btn {
    background-color: $button-bg-color;
    color: #fff;
    padding: 15px 25px;
    border-radius: 4px;
}
#btn:hover {
    background-color: #2dcf94;
    border-bottom: none;
}

// Hero styling
h2 {
    display: none;
}
.hero-container {
    font-family: "Inter", sans-serif;
    margin: 4.5rem 0;
    gap: 40px;
}
.illustrator-img {
    flex: 35%;

}
.illustration-description {
    flex: 40%;
    .description {
        margin: 1rem 0;
        line-height: 1.7;
        color: #2b2a2a;
        font-size: clamp(0.7rem, 2vw, 1.25rem); ;
        font-weight: 500;
    }
    .cta-statement {
        font-size: 20px;
        color: #ff007f;
    }
}
#illustrator-img {
    max-width: 100%;
    border-radius: 8px;
}
.hero-importance {
    margin-top: 1.5rem;
    font-size: 20px;
    color: #ff007f;
}
.illustration-description h3 {
    margin-top: 1rem;
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 700;
    line-height: 1.2;
}
.cta-button {
    font-family: "Roboto Slab", sans-serif;
    margin-top: 3.5rem;
    .cta-invest {
        max-width: 100%;
        background-color: #04aa6d;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 20px 30px;
        border-radius: 4px;
    }
    .cta-invest:hover {
        background-color: #4dbd90;
    }
    a {
        text-decoration: none;
    }
    .cta-learn {
        max-width: 100%;
        font-size: 1.3rem;
        margin-left: 20px;
        background-color: transparent;
        border: 2px solid #000;
        padding: 20px 30px;
        color: #000;
        font-weight: 600;
    }
    .cta-learn:hover {
        background-color: #98d8ee;
    }
}
// Support Section
.service-wrapper {
    font-family: "Inter", sans-serif;
    display: flex;
    margin-top: 8rem;
    gap: 4%;
    .first {
        padding-right: 2rem;
        border-right: 1px solid rgb(224, 222, 222);
    }
    .third {
        padding-left: 2rem;
        border-left: 1px solid rgb(224, 222, 222);
    }
    img {
        width: 90px;
        border-radius: 4px;
    }
    div {
        flex: 30%;
        .service-header {
            font-weight: 600;
            font-size: 1.2rem;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .service-description {
            color: #2b2a2a;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}

// Investment Section
.investments {
    font-family: "Roboto", sans-serif;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.investment-tiers {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .tier-row1, .tier-row2 {
        display: flex;
        gap: 12%;
        .tier1, .tier4, .tier5, .tier8 {
            .button {
                background-color: rgb(19, 19, 31);
            }
            .button:hover {
                background-color: rgb(58, 58, 73);
            }
        }
        .tier2, .tier3, .tier6, .tier7 {
            .button {
                background-color: rgb(241, 15, 15);
            }
            .button:hover {
                background-color: rgb(240, 79, 79);
            }
        }
        .tier-cont {
            height: 240px;
            max-height: 100%;
        }
        div {
            width: 15%;
            max-width: 100%;
            border: 1px solid rgb(223, 222, 222);
            text-align: center;
            border-radius: 8px;
            h4 {
                margin-top: 6px;
                font-weight: 600;
                font-size: 2rem;
                color: rgb(19, 19, 31);
            }
            .risk {
                margin-top: 3px;
                font-weight: 600;
                color: rgb(19, 19, 31);
            }
            .return {
                padding: 0.1rem;
                margin-top: 10px;
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 0.9rem;
                color: #2b2a2a;
            }
            .one, .six, .seven {
                margin-top: 28px;
            }
            .button {
                cursor: pointer;
                padding: 12px 0;
                border-radius: 6px;
                width: 230px;
                max-width: 100%;
            }
            .tier-btn {
                border-radius: 6px;
            }
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}
// Investment Section
.estimate {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ff007f;
    text-transform: uppercase;
    padding: 2rem;
}
.estimate-note {
    font-size: 4rem;
    color: rgb(19, 19, 31);
    padding-bottom: 2rem;
}
.estimate-description {
    color: rgb(75, 73, 73);
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.invest-calculation {
    font-family: "Inter", sans-serif;
    background-color: #f3f2ee;
}
.invest-intro {
    text-align: center;
}
.visual-section {
    display: flex;
    gap: 5%;
}
.calculator {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 100%;
    flex: 35%;
}

label {
    color: #4CAF50;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 5px;
    padding: 12px 12px;
}

input[type="number"] {
    width: 60%;
    padding: 15px;
    border-radius: 100px;
    font-size: 1.2rem;
}

input[type="radio"] {
    margin-right: 10px;
    color: #4CAF50;
}

#yearsToGrow {
    width: 100%;
    color: #4CAF50;
}

#yearsValue {
    margin-left: 10px;
}

#button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 30px 0;
}

#result {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    color: #4CAF50;
}

// Chart
#myChart {
    flex: 60%;
    width: 800px;
}
.testimonies {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: #fff;
    h4 {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding: 4rem 0;
        font-weight: 700;
        font-size: 3.8rem;
    }
}
.testimony-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimony {
    flex: 70%;
    text-align: center;
    p {
        width: 60%;
        margin: 0 auto;
        line-height: 1.7;
        padding: 20px 0;
    }
}
.icon {
    width: 20px;
    height: 20px;
}
#profile1, #profile2 {
    width: 60px;
    height: 60px;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.footer-nav {
    font-weight: 500 !important;
}
.social-icons a {
    padding: 0 20px;
}
.telegram-icon, .instagram-icon, .facebook-icon {
    color: rgb(36, 161, 222);
}
.wrapper-container1 {
    width: 90%;
    margin: 0 auto;
}
.legal-header, .copyright {
    font-weight: 600;
    padding: 20px 0;
    text-decoration: underline;
}
.fixed {
    position: absolute;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1 
}
footer {
    color: gray;
}

// Learn
.learn-header {
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 3rem 0;
    h1 {
        font-size: 3.1rem;
    }
    p {
        font-size: 1.1rem;
        padding: 1.2rem 0;
    }
}
.video-container {
    font-family: "Inter", sans-serif;
}
.video-card {
    display: flex;
    gap: 5%;
    margin-bottom: 1.7rem;
    iframe {
        flex: 50%;
        border-radius: 8px;
    }
    p {
        flex: 40%;
        line-height: 1.7;
        font-size: 1.2rem;
    }
}
.blog-header {
    font-family: "Inter", sans-serif;
    text-align: center;
    h3 {
        font-size: 2.8rem;
        padding: 3rem;
    }
    p {
        width: 50%;
        margin: 0 auto;
        line-height: 1.7;
        font-size: 1.2rem;
        font-style: italic;
        padding-bottom: 3rem;
    }

}
.blog-list {
    font-family: "Inter", sans-serif;
    margin-bottom: 5rem;
    display: flex;
    gap: 5%;
    article {
        flex: 30%;
        img {
            max-width: 500px;
            border-radius: 6px;
        }
        h3 {
            padding-top: 1rem;
        }
        p {
            line-height: 1.5;
            padding: 1rem  0;
        }
    }
}
// Contact
.contact-header {
    text-align: center;
    margin: 3rem 0;
    h1 {
        font-size: 3.1rem;
    }
    p {
        font-size: 1.3rem;
        padding: 1.2rem 0;
    }
}
.form-field {
    width: 80%;
    margin: 0 auto;
}
.labelName {
    color: #000;
}
#contactForm {
    border: 1px solid gray;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    padding: 1.5rem;
    button {
        display: block;
    }
}
#name, #email, #message {
    border: 1px solid gray;
    border-radius: 6px;
    height: 3rem;
    width: 90%;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
}
#message {
    height: 260px;
    min-height: 200px;
    max-height: 100%;
}
.form-btn {
    background-color: #04aa6d;
    margin-top: 1.5rem;
    padding: 20px 80px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.form-btn:hover  {
    background-color: #5ace9f;
}
.login {
    font-size: 1.1rem;
    text-align: center;
    margin: 1rem 0;
    word-spacing: 1px;
}
.label {
    color: #4CAF50;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 5px;
    padding: 12px 12px;
}

input{
    width: 80%;
    padding: 15px;
    border-radius: 100px;
    font-size: 1.2rem;
}
.sign-container {
    padding-bottom: 3rem;
}
.form-container {
    margin-top: 1.5rem;
    border: 1px solid rgb(160, 158, 158);
    background-color: #f2f2f2;
    padding: 2rem;
    border-radius: 8px;
    width: 700px;
}
.logo-sign {
    padding: 1.5rem;
    background-color: #fff;
    justify-content: center;

}
.sign-description {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}
.sign-description__more {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
}

