// Basic CSS Reset
html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}
input {
    border: none
}
input:focus {
    outline: none;
}

// Variables
$primary-red: hsl(0, 100%, 74%) ;
$primary-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);

// Base Styling
body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/bg-intro-mobile.png) $primary-red;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;  
}

// Main Styling
.container {
    width: 400px;
    max-width: 100%;
    padding: 4rem 1rem;
}
// Header Styling
.container__description p {
    text-align: center;
    color: #fff;
}
h1 {
    display: none;
}
h2 {
    margin-block: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.container__trymessage p {
    text-align: center;
    background-color: $accent-blue;
    padding: 6px 15px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0 6px hsla(0%, 0%, 50%, 0.4);
}
.container__trymessage p:hover {
    background-color: hsl(249, 35%, 38%);
}
.container__trymessage p a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.container__trymessage span {
    font-weight: 300;
}
.span_block {
    display: block;
}
.container__form {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 6px hsla(0%, 0%, 50%, 0.4);
}
.container__form p {
    padding: 0 20px;
    padding-bottom: 30px;
    margin-top: -15px;
    text-align: center;
    font-size: 12px;
    color: $neutral-grayish-blue;
}
    .terms a{
        text-decoration: none;
        color: $primary-red;
        font-weight: 500;
    }
    .terms a:hover {
        color:hsl(0, 62%, 50%);
        cursor: pointer;
    }

#form {
    padding: 1rem;

}
#form input {
    width: 100%;
    color: #000;
    font-weight: 500;
    padding: 6px 20px;
    margin-block-end: 15px;
    border-radius: 6px;
}
input[type="submit"] {
    background-color: $primary-green; 
    color: white !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 15px;
    padding: 15px 20px !important;
    box-shadow: 0 3px hsla(0%, 0%, 70%, 0.4);
}
input[type="submit"]:hover {
    background-color: hsl(154, 85%, 31%) !important;
    cursor: pointer !important;
}
input[type="submit"]:focus {
    border: none !important;
}
#form input::placeholder {
    color: #000;
    opacity: 1;
    font-weight: 700;
}

/* Error styling for input */
input.error {
    border-color: red;
}
  
  /* Error message and icon styling */
.error-message,
.error-icon {
    color: red;
    font-size: 11px;
    display: none;
    margin-left: 5px;
}
.error-message {
    border: 1px solid black;
    align-self: end;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.show-err {
    border: 1px solid #000;
    border-radius: 6px;
    display: flex;
    margin-block-end: 1.5rem;
}
.show-err:focus {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.error-icon img {
    width: 20px;
}
// Footer Styling 
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
// Media Query for the Desktop
@media only screen and (min-width: 45rem) {
    body {
        background:  url(../images/bg-intro-desktop.png) $primary-red;
    }
    .container {
        height: 100vh;
        width: 1100px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .span_block {
        display: inline-block;
    }
    .container__trymessage p {
        padding: 10px 15px;
    }
    .first-col {
        flex-basis: 70%;
        align-self: center;
    }
        h2 {
            width: 80%;
            max-width: 100%;
            text-align: left;
            font-size: 45px;
        }
        .container__description p {
            line-height: 1.5;
            width: 95%;
            max-width: 100%;
            text-align: left;
        }
    .second-col {
        flex-basis: 30%;
    }
    #form {
        padding: 2rem;
        width: 500px;
    }
    #form input {
        max-width: 100%;
        margin-block-end: 15px;
        border-radius: 4px;
    }
}   